#registrosTable {
    width: 100%;
    margin-top: 20px;
    border-collapse: collapse;
}

#registrosTable th, #registrosTable td {
    padding: 10px;
    border: 1px solid #ccc;
    text-align: center;
}

.borrar-btn {
    padding: 5px 10px;
    background-color: #ff4d4d;
    border: none;
    color: white;
    border-radius: 4px;
    cursor: pointer;
}

.borrar-btn:hover {
    background-color: #e60000;
}
